<h1>Portfolio</h1>

<% if @stocks.length < 8 %>
  <%= link_to "Add New Stock", new_stock_path, class: "btn btn-primary my-4" %>
<% else %>
  <p>You've reached the limit of 8 stocks per portfolio, to add more please delete one of your saved stocks.</p>
<% end %>

<div id="stocks">
  <div class="row d-flex justify-content-center">
    <% @stocks.each do |stock| %>
    
      <% stock_search(stock.ticker) %>

      <div class="col-md-6 col-lg-4 col-xl-3 d-flex justify-content-center">
        <div class="card stock-card">
          <%= render 'stock', :quote => @stock_info[0], :profile => @stock_info[1], :metric => @stock_info[2] %>
          <div>
            <%= link_to "Show Details", stock, class: "btn btn-primary" %>
            <%= link_to "Delete", stock, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this stock from your portfolio?" }, class: "btn btn-danger mx-1" %>
          </div>  
        </div>
      </div>

    <% end %>
  </div>
  <p class="fw-light fst-italic text-end">* All prices shown in USD<p>
</div>