<h1>Add New Stock</h1>

<div class="row">
  <div class= "col-auto mt-4 p-5 bg-light text-black rounded">
  <%= render "form", stock: @stock %>

  <br>

    <div>
      <%= link_to "Back to Portfolio", stocks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
