<% quote_response = (@finnhub_client.quote(@stock.ticker)).to_json %>
<% profile_response = (@finnhub_client.company_profile2({symbol: @stock.ticker})).to_json %>
<% metric_response = (@finnhub_client.company_basic_financials(@stock.ticker, 'all')).to_json %>

<% quote_hash = JSON.parse(quote_response) %>
<% profile_hash = JSON.parse(profile_response) %>
<% metric_hash = JSON.parse(metric_response) %>


<div class="card" style="width: 16rem;">
  <%= render 'stock_details', details: true, :quote => quote_hash, :profile => profile_hash, :metric => metric_hash %>
  <div>
    <%= link_to "Back to stocks", stocks_path, class: "btn btn-primary"%>
    <%= link_to "Delete", @stock, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this stock?" }, class: "btn btn-danger mx-1" %>
  </div>
</div>
