<%= render @stock %>

<div>
  <%= link_to "Edit this stock", edit_stock_path(@stock) %> |
  <%= link_to "Back to stocks", stocks_path %>

  <%= link_to "Delete", @stock, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this stock?" }, class: "btn btn-danger mx-1" %>
</div>
