<% stock_search(@stock.ticker)%>

<%= render 'stock_details', details: true, :quote => @stock_info[0], :profile => @stock_info[1], :metric => @stock_info[2] %>

<p class="fw-light fst-italic text-center">* All prices shown in USD<p>
<div class="d-flex justify-content-center mt-5">
  <%= link_to "Back to Portfolio", stocks_path, class: "btn btn-primary" %>
  <%= link_to "Delete Stock", @stock, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this stock from your portfolio?" }, class: "btn btn-danger mx-1" %>
</div>