</br>
<% flash.each do |name, msg| %>
  <div class="alert alert-warning alert-dismissible fade show d-flex justify-content-between" role="alert">
    <%= content_tag(:div, msg, :class => "d-flex align-items-center") %>
    <button type="button" class="close btn btn-warning" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>